@using System.Web.Optimization

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/globalcss")

    @RenderSection("pagestyles", required: false)
</head>
<body>

    @Html.Partial("Layouts/_Header")

    <div class="container">
        @RenderBody()
    </div>

    @Html.Partial("Layouts/_Footer")

    @Scripts.Render("~/bundles/jqueryjs")
    @Scripts.Render("~/bundles/bootstrapjs")

    @RenderSection("pagescripts", required: false)

</body>
</html>

